.container {
  max-width: 100%;
  max-height: 100%;
}

.container .headers {
  padding-bottom: 0px;
}

.container .button-lore {
  background-color: #03040b;
  border-style: double;
  border-width: 1.5px;
  border-color: blue;
  color: white;
  padding: 3px;
  height: 9vh;
}

.container .button-private {
  background-color: #500404;
  border-style: double;
  border-width: 1.5px;
  border-color: black;
  color: white;
  padding: 3px;
  height: 9vh;
  text-align: center;
}

.container .your-sessions {
  text-align: center;
  font-size: 2.5em;
  color: rgb(99, 43, 43);
  margin-top: 0px;
}

.container .thead {
  background-color: rgb(182, 182, 222);
  text-align: center;
}

.container .primary {
  color: black;
  font-weight: bold;
}

.container .sessions {
  margin-top: 0px;
}

.container .row-info {
  text-align: center;
}

.container .table {
  margin: auto;
  width: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
