
.campaigns .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

.campaigns .campaign_module {
    border: 1px solid #2d2d2d;
    height: 300px;
    margin: 20px;
    width: 300px;
    

    /* background-image: url('../images/book-cover.jpg');
    background-size: contain; */
}

.campaigns .nav-link {
    text-decoration: underline;
}