.container {
  max-width: 100%;
}

.row {
  padding-top: 12px;
}
.container .button-create {
  background-color: #03040b;
  border-style: double;
  border-width: 1.5px;
  border-color: blue;
  color: white;
  padding: 3px;
  height: 9vh;
}

.container .my-campaigns {
  font-size: 2.5em;
  color: rgb(99, 43, 43);
}

.container .row .col-4 {
  border-color: black;
  border-width: 30px;
}

.container .active-campaigns {
  font-size: 1.9em;
  color: rgb(99, 43, 43);
}

.container .card {
  border-color: black;
  /* border-style: double; */
  border-width: 2.5px;
  background: #f4f5fc;
  z-index: 0;
  overflow: hidden;
  border-radius: 5px;
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 10px 10px 8px #888888;
  top: -4px;
  border-color: black;
  /* border-style: double; */
  border-width: 2.5px;
  background: #f4f5fc;
}

.container .col-4 .started {
  color: rgb(164, 161, 161);
  text-align: center;
  font-size: 0.8em;
  margin: 4px;
  padding: 3px;
}

.container .col-4 .campaign-title {
  font-weight: bold;
  font: "Fira Sans", serif;
  font-size: 5vh;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container .col-6 {
  width: 100%;
}

.container .col-3 {
  text-align: right;
}

.container .col-4 .url {
  padding: 10px;
  padding-top: 0px;
  margin: 3px;
  font-weight: lighter;
  font: 0.8em "Fira Sans", serif;
}

.container .col-4 .players {
  padding: 10px;
  margin: 3px;
  font-weight: bold;
  font: 1.2em "Fira Sans", serif;
}

.container .col-4 .role {
  padding: 10px;
  margin: 3px;
  font-weight: bold;
  font: 1.2em "Fira Sans", serif;
}

.container .col-4 .dm {
  padding-bottom: 15px;
  margin: 3px;
  padding: 10px;

  font-weight: bold;
  font: 1.2em "Fira Sans", serif;
  border-bottom: thick double blue;
}

.add-player {
  text-align: center;
  font-weight: lighter;
  font: 0.8em "Fira Sans", serif;
}

.button-edit {
  width: 120px;
  padding: 5px;
  margin-right: 5px;
  font-weight: lighter;
  font: 1em "Fira Sans", serif;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.button-edit:hover {
  transform: scale(1.015);
  transition: 0.15s linear;
  box-shadow: 1px 1px 22px rgba(157, 184, 209, 0.5);
}

.button-view {
  width: 120px;
  padding: 5px;
  font-weight: lighter;
  font: 1em "Fira Sans", serif;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.button-add-session {
  width: 120px;
  padding: 5px;
  margin-left: 5px;
  font-weight: lighter;
  font: 1em "Fira Sans", serif;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.buttons-bottom {
  text-align: center;
  margin-bottom: 10px;
}

.button-add-session:hover {
  transform: scale(1.015);
  transition: 0.15s linear;
  box-shadow: 1px 1px 22px rgba(157, 184, 209, 0.5);
}

.button-view:hover {
  transform: scale(1.015);
  transition: 0.15s linear;
  box-shadow: 1px 1px 22px rgba(157, 184, 209, 0.5);
}
