/* .container1 {
  height: 100vh;
}

.row {
  height: 100vh;
}

.col-6 {
  padding-top: 70px;
}

.logIn {
  text-align: center;
  color: black;
  font-size: 30px;
}

.logInButton {
  padding-top: 20px;
  text-align: center;
}

.logInForm {
  padding-top: 7px;
  padding-bottom: 10px;
}

.form-control {
  background-color: rgb(215, 215, 229);
  box-sizing: border-box;
}

.forgot {
  font-size: small;
  margin-bottom: 1%;
}

.forgot:hover {
  color: forestgreen;
  cursor: pointer;
}

.signUp {
  font-size: small;
}

.bottom {
  padding-top: 10px;
}

.nav-link:hover {
  color: blue;
}
.nav-link {
  margin: 0;
  padding: 0;
} */
