.welcome {
}

/* .container {
  background-image: url("../images/epic1.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
  opacity: 0.85;
} */

.welcome .goober {
  border: 0.05em solid black;
}

.welcome .row {
  padding-top: 20px;
}

.welcome .module {
  padding-top: 30px;
  padding-left: 30px;
}

.welcome .button {
  padding-top: 30px;
  padding-left: 30px;
}
