.SignIn .card {
  margin-top: 100px;
  border-color: black;
  border-width: 1.5px;
  border-radius: 5%;
  width: 500px;
  height: 350px;
  background-color: rgba(148, 163, 228, 0.158);
}

.SignIn .container {
  display: grid;
  justify-content: center;
}
