.welcome {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(344deg, rgba(148, 163, 228, 0.8379726890756303) 25%, rgba(247, 251, 142, 0.6951155462184874) 100%);
   
}.welcome .row {
    padding-top: 20px;
}

.welcome .magic {
    height: 80vh;
    width: 30vw;
}

.welcome .goober {
    text-align: right;
}

.welcome .module {
    padding-top: 30px;
    padding-left: 30px;
}

.welcome .button {
    padding-top: 30px;
    padding-left: 30px;
}