.navbar-brand {
  font: italic 1.2em "Fira Sans", serif;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 200px;
}

.navbar {
  border-bottom: black;
  border-width: 3px;
}

.button-create {
  background-color: #03040b;
  border-style: double;
  border-width: 1.5px;
  border-color: blue;
  color: white;

  height: 9vh;
}
