.navbar-brand {
    font: italic 1.2em "Fira Sans", serif;
    font-weight: bold;
    font-size: 1.5em;
}


.navbar-brand .campaign-page {
    font: italic 1.2em "Fira Sans", serif;
    font-weight: bold;
    font-size: .75em;
    color: grey;
}